<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SAClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SAClient.Properties.Settings.ClientDBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ClientDB.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>    </startup>
    <userSettings>
        <SAClient.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
            <setting name="Analyze" serializeAs="String">
                <value>CY,PR,Links,</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </SAClient.Properties.Settings>
    </userSettings>
</configuration>
